
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald&family=Saira+Extra+Condensed:wght@200&display=swap');
.n{
    font-family: 'Mukta', sans-serif;
    background-color: beige;
    box-shadow: 1px -1px;
}
